<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="pnp_cobot_280">
    <xacro:arg name="robot_name" default="pnp_cobot_280"/>
    <xacro:arg name="add_world" default="true"/>
    <xacro:arg name="base_link" default="base_link"/>
    <xacro:arg name="base_type" default="g_shape"/>
    <xacro:arg name="flange_link" default="link6_flange"/>
    <xacro:arg name="gripper_type" default="adaptive_gripper"/>
    <xacro:arg name="prefix" default=""/>
    <xacro:arg name="use_camera" default="false"/>
    <xacro:arg name="camera_mount" default="stand"/>
    <xacro:arg name="use_gazebo" default="false"/>
    <xacro:arg name="use_gripper" default="true"/>

    <xacro:if value="$(arg add_world)">
      <link name="world"/>
      <joint name="$(arg prefix)virtual_joint" type="fixed">
          <parent link="world"/>
          <child link="$(arg prefix)$(arg base_link)"/>
          <origin xyz="0 0 0" rpy="0 0 0"/>
      </joint>
    </xacro:if>

    <xacro:property name="current_base" value="$(arg base_type)"/>
    <xacro:if value="${current_base == 'g_shape'}">
        <xacro:include filename="$(find pnp_cobot_description)/urdf/mech/g_shape_base_v2_0.urdf.xacro"/>
        <xacro:g_shape_base
            base_link="$(arg base_link)"
            prefix="$(arg prefix)"/>
    </xacro:if>

    <xacro:include filename="$(find pnp_cobot_description)/urdf/mech/pnp_cobot_280_arm.urdf.xacro"/>
    <xacro:pnp_cobot_280_arm
      base_link="$(arg base_link)"
      flange_link="$(arg flange_link)"
      prefix="$(arg prefix)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:pnp_cobot_280_arm>

    <xacro:if value="$(arg use_gripper)">
        <xacro:property name="current_gripper" value="$(arg gripper_type)"/>
        <xacro:if value="${current_gripper == 'adaptive_gripper'}">
            <xacro:include filename="$(find pnp_cobot_description)/urdf/mech/adaptive_gripper.urdf.xacro"/>
            <xacro:adaptive_gripper
                parent="$(arg flange_link)"
                prefix="$(arg prefix)">
                <origin xyz="0 0 0.034" rpy="1.579 0 0"/>
            </xacro:adaptive_gripper>
        </xacro:if>
    </xacro:if>

    <xacro:include filename="$(find pnp_cobot_description)/urdf/control/gazebo_sim_ros2_control.urdf.xacro" />
    <xacro:load_gazebo_sim_ros2_control_plugin
      robot_name="$(arg robot_name)"
      use_gazebo="$(arg use_gazebo)"/>

    <xacro:include filename="$(find pnp_cobot_description)/urdf/control/pnp_cobot_280_ros2_control.urdf.xacro" />
    <xacro:pnp_cobot_ros2_control
      prefix="$(arg prefix)"
      flange_link="$(arg flange_link)"
      use_gazebo="$(arg use_gazebo)"/>

    <!-- RGB-D camera: fixed on a stand next to the robot, or on the wrist (eye-in-hand) -->
    <xacro:if value="$(arg use_camera)">
        <xacro:include filename="$(find pnp_cobot_description)/urdf/sensors/intel_rgbd_cam_d435.urdf.xacro"/>
        <xacro:property name="current_camera_mount" value="$(arg camera_mount)"/>

        <xacro:if value="${current_camera_mount == 'stand'}">
            <xacro:include filename="$(find pnp_cobot_description)/urdf/mech/camera_stand.urdf.xacro"/>
            <xacro:camera_stand parent="$(arg prefix)$(arg base_link)">
                <origin xyz="0.22 -0.30 0" rpy="0 0 0"/>
            </xacro:camera_stand>
            <xacro:intel_rgbd_cam_d435 name="camera_head" parent="torso_link"
                                       use_gazebo="$(arg use_gazebo)">
                <origin xyz="0 0.01 0.50" rpy="0 ${radians(25)} ${pi/2}"/>
            </xacro:intel_rgbd_cam_d435>
        </xacro:if>

        <!-- gripper_base frame: +y towards the fingertips, x across the fingers. The camera sits
             on the +z side of the gripper and looks along +y. Its depth range starts at 0.1 m
             like a D435 at this resolution, so the fingertips (~6 cm ahead) are not in the cloud. -->
        <xacro:if value="${current_camera_mount == 'wrist'}">
            <xacro:intel_rgbd_cam_d435 name="camera_wrist" parent="$(arg prefix)gripper_base"
                                       use_gazebo="$(arg use_gazebo)" near_clip="0.1">
                <origin xyz="0 0 0.03" rpy="0 0 ${pi/2}"/>
            </xacro:intel_rgbd_cam_d435>
        </xacro:if>
    </xacro:if>

</robot>
